#--------vscode-------
 .vscode/
#--------osfile-------
 app/__pycache__/__init__.cpython-311.pyc
 app/__pycache__/api.cpython-311.pyc
 app/__pycache__/app.cpython-311.pyc
 *.pyc
 *.pyo
 *.pyd
 .env
#--------configfile--------
myenv/pyvenv.cfg
*.cfg
*.exe
venv
myenv/
*/__pycache__/*
*/__init__.py
# Ignore script and lib folders
Scripts/
Lib/
Include/
.git/